# Database
DATABASE_URL="postgresql://user:password@localhost:5432/db_name"

# JWT
JWT_SECRET="your-secret-jwt-key"
JWT_REFRESH_SECRET="your-secret-refresh-key"

# Server
PORT=3000
NODE_ENV="development"
CORS_ORIGIN="https://your-frontend-domain.com,http://localhost:8000"